<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>button测试</string>
		<key>controllerName</key>
		<string>T001ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>frame-bounds-center</string>
		<key>controllerName</key>
		<string>T002ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计算器...</string>
		<key>controllerName</key>
		<string>T003ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UILabel</string>
		<key>controllerName</key>
		<string>T004ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UIImageView</string>
		<key>controllerName</key>
		<string>T005ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拳皇...</string>
		<key>controllerName</key>
		<string>T006ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>music test</string>
		<key>controllerName</key>
		<string>T007ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>button test</string>
		<key>controllerName</key>
		<string>T008ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>综合练习 | MJExtension</string>
		<key>controllerName</key>
		<string>T009ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>综合练习2</string>
		<key>controllerName</key>
		<string>T010ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>动画 | Toast</string>
		<key>controllerName</key>
		<string>T011ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>按钮内部控件调整</string>
		<key>controllerName</key>
		<string>T012ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>image拉伸</string>
		<key>controllerName</key>
		<string>T013ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>KVO | injection | random</string>
		<key>controllerName</key>
		<string>T014ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>单行居中, 多行左对齐</string>
		<key>controllerName</key>
		<string>T015ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>xib &amp; masonry UIScrollView</string>
		<key>controllerName</key>
		<string>T016ViewController</string>
		<key>xib</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>UIScrollView</string>
		<key>controllerName</key>
		<string>T017ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>常见控件的监听</string>
		<key>controllerName</key>
		<string>T018ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>ScrollView 内容缩放</string>
		<key>controllerName</key>
		<string>T019ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>轮播图...</string>
		<key>controllerName</key>
		<string>T020ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>SDCycleScrollView 测试</string>
		<key>controllerName</key>
		<string>T021ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>SDCycleScrollView 测试</string>
		<key>controllerName</key>
		<string>T021ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Autolayout</string>
		<key>controllerName</key>
		<string>T022ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Masonry</string>
		<key>controllerName</key>
		<string>T023ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>UITableView</string>
		<key>controllerName</key>
		<string>T024ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>通知...</string>
		<key>controllerName</key>
		<string>T025ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>shop...|FDTemplateLayoutCell</string>
		<key>controllerName</key>
		<string>T026ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>UIApplication | 单例</string>
		<key>controllerName</key>
		<string>T027ViewController</string>
		<key>xib</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>UIPickerView</string>
		<key>controllerName</key>
		<string>T028ViewController</string>
		<key>xib</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>push pop storyboard</string>
		<key>controllerName</key>
		<string>T029ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>沙盒 | 偏好设置 | 归档 | 私有方法获取</string>
		<key>controllerName</key>
		<string>T030ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>navigationBar 不能随便改, 侵入性太强 | 有bug 以后改...</string>
		<key>controllerName</key>
		<string>T031ViewController</string>
		<key>xib</key>
		<true/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>AFNetworking | 上传 下载 | 封装</string>
		<key>controllerName</key>
		<string>T032ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>SDWebImage</string>
		<key>controllerName</key>
		<string>T033ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Masonry</string>
		<key>controllerName</key>
		<string>T034ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>SNLabel test</string>
		<key>controllerName</key>
		<string>T035ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>CALayer</string>
		<key>controllerName</key>
		<string>T036ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>宏测试...</string>
		<key>controllerName</key>
		<string>T037ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>multiply edting</string>
		<key>controllerName</key>
		<string>T038ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>ReactiveCocoa test</string>
		<key>controllerName</key>
		<string>T039ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>color test</string>
		<key>controllerName</key>
		<string>T040ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>table view 自定义, 模仿 Li 的效果</string>
		<key>controllerName</key>
		<string>T041ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>整理 json 打印</string>
		<key>controllerName</key>
		<string>T042ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>猿题库网络请求框架</string>
		<key>controllerName</key>
		<string>T043ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>HBHybridCollectionView</string>
		<key>controllerName</key>
		<string>T044ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListKit 测试</string>
		<key>controllerName</key>
		<string>T045ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>SwipeTableView 测试</string>
		<key>controllerName</key>
		<string>T046ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>SNSwipeTableView</string>
		<key>controllerName</key>
		<string>T047ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>EHHorizontalSelectionView 测试</string>
		<key>controllerName</key>
		<string>T048ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>ES6 测试</string>
		<key>controllerName</key>
		<string>T049ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Color 测试</string>
		<key>controllerName</key>
		<string>T050ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>CGRectDivide 测试</string>
		<key>controllerName</key>
		<string>T051ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListBindingSectionController 测试</string>
		<key>controllerName</key>
		<string>T052ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListKit YTK MJRefresh</string>
		<key>controllerName</key>
		<string>T053ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>ReactCocoa 测试</string>
		<key>controllerName</key>
		<string>T054ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>搭建一个 测试模板</string>
		<key>controllerName</key>
		<string>T055ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>RAC 登录</string>
		<key>controllerName</key>
		<string>T056ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>颜色选择器 RAC</string>
		<key>controllerName</key>
		<string>T057ViewController</string>
		<key>xib</key>
		<true/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>YYText 测试</string>
		<key>controllerName</key>
		<string>T058ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>RAC 创建信号 | 网络请求 并发 串行 事务</string>
		<key>controllerName</key>
		<string>T059ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>RAC push-driven | pull-driven</string>
		<key>controllerName</key>
		<string>T060ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T061ViewController</string>
		<key>controllerName</key>
		<string>T061ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T062ViewController</string>
		<key>controllerName</key>
		<string>T062ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T063ViewController</string>
		<key>controllerName</key>
		<string>T063ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T064ViewController</string>
		<key>controllerName</key>
		<string>T064ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T065ViewController</string>
		<key>controllerName</key>
		<string>T065ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>T066ViewController</string>
		<key>controllerName</key>
		<string>T066ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>PYSearch 测试</string>
		<key>controllerName</key>
		<string>T067ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>RAC 测试</string>
		<key>controllerName</key>
		<string>T068ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>https 未签名证书信任 并 请求</string>
		<key>controllerName</key>
		<string>T069ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>循环引用 测试</string>
		<key>controllerName</key>
		<string>T070ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListSectionController 实现</string>
		<key>controllerName</key>
		<string>T071ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListBindingSectionController 实现</string>
		<key>controllerName</key>
		<string>T072ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListStackedSectionController 实现</string>
		<key>controllerName</key>
		<string>T073ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListDiffable 协议 测试...</string>
		<key>controllerName</key>
		<string>T074ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListDiffable 协议 测试2...</string>
		<key>controllerName</key>
		<string>T075ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>IGListBindingSectionController 进阶, 两次机会返回 Diff 数组</string>
		<key>controllerName</key>
		<string>T076ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>测试刷新...</string>
		<key>controllerName</key>
		<string>T077ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>RAC MVVM</string>
		<key>controllerName</key>
		<string>T078ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
		<key>important</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>利用UICollectionView实现横向居中放大滚动的循环浏览Demo</string>
		<key>controllerName</key>
		<string>T079ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>ListBindSectionController 触发刷新测试</string>
		<key>controllerName</key>
		<string>T080ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Rac 测试 IGListKit</string>
		<key>controllerName</key>
		<string>T081ViewController</string>
		<key>xib</key>
		<false/>
		<key>storyboard</key>
		<false/>
		<key>important</key>
		<false/>
	</dict>

  <dict>
    <key>title</key>
    <string>Rac Demo2</string>
    <key>controllerName</key>
    <string>T082ViewController</string>
    <key>xib</key>
    <false/>
    <key>storyboard</key>
    <false/>
    <key>important</key>
    <false/>
  </dict>

<!--  <dict>-->
<!--    <key>title</key>-->
<!--    <string>rac_signalForSelector 测试</string>-->
<!--    <key>controllerName</key>-->
<!--    <string>T083ViewController</string>-->
<!--    <key>xib</key>-->
<!--    <false/>-->
<!--    <key>storyboard</key>-->
<!--    <false/>-->
<!--    <key>important</key>-->
<!--    <false/>-->
<!--  </dict>-->
</array>
</plist>
